# API Gateway
API_GATEWAY_PORT=3000
AUTH_SERVICE_URL=http://auth-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002

# Auth Service
AUTH_SERVICE_PORT=3001
AUTH_DATABASE_URL=postgresql://hyper_user:password@db:5432/auth_db

JWT_SECRET=

# Product Service
PRODUCT_SERVICE_PORT=3002
PRODUCT_DATABASE_URL=postgresql://hyper_user:password@db:5432/product_db

# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
SQS_QUEUE_URL=

# Database
POSTGRES_USER=hyper_user
POSTGRES_PASSWORD=password