PORT=3002
DATABASE_URL=postgresql://hyper_user:password@db:5432/product_db
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
SQS_QUEUE_URL=

JWT_SECRET=eaeFX5esBc25bJ2IATdqkoz8IyEFC9j3Ewg3HpYSExc=